@use 'src/scss/config' as *;

.navbar {
  @include make-spacer(py, 15px);
  @include flex(center, center, null, wrap);

  &__item {
    @include make-spacer(mr, 25px, lg);

    &:last-child {
      @include make-spacer(mr, 0);
    }
  }

  &__link {
    @include make-spacer(p, 10px);

    font-size: rem(11px);
    letter-spacing: rem(2px);
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }
}
