mixin navbar
  ul.navbar&attributes(attributes)
    li.navbar__item
      a(href="#").navbar__link.u-text-transform-uppercase HOME
    li.navbar__item
      a(href="#").navbar__link.u-text-transform-uppercase ABOUT
    li.navbar__item
      a(href="#").navbar__link.u-text-transform-uppercase BUSINESS
    li.navbar__item
      a(href="#").navbar__link.u-text-transform-uppercase POLITICS
    li.navbar__item
      a(href="#").navbar__link.u-text-transform-uppercase WORLD
    li.navbar__item
      a(href="#").navbar__link.u-text-transform-uppercase NEWS
    li.navbar__item
      a(href="#").navbar__link.u-text-transform-uppercase DETAILS
