@use 'src/scss/config' as *;

.button {
  @include reset-button;
  @include size(100%, rem(45px));
  @include flex(center, center);
  @include transition(all);
  @include make-spacer(px, 20px);

  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  color: var(--color-white);

  &__text {
    position: relative;
    font-size: rem(14px);
    font-weight: var(--typography-medium);
    letter-spacing: var(--border-radius);
    text-transform: uppercase;
    text-align: center;
    line-height: 1.2;
    color: currentColor;
  }

  &--sm {
    @include make-spacer(px, 10px);

    height: rem(35px);

    .button {

      &__text {
        font-size: rem(12px);
        letter-spacing: rem(1px);
      }
    }
  }

  &--default {
    background-color: var(--color-comet);
    border: rem(1px) solid var(--color-comet);

    &:hover {
      background-color: transparent;

      .button {

        &__text {
          color: var(--color-comet);
        }
      }
    }

    .button {

      &__text {
        color: var(--color-shark);
      }
    }
  }

  &--primary {
    background-color: var(--color-primary);
    border: rem(1px) solid var(--color-primary);

    &:hover {
      background-color: transparent;
      color: var(--color-primary);

      .button {

        &__text {
          color: var(--color-primary);
        }
      }
    }
  }

  &--animate {
    border: rem(1px) solid var(--color-primary);

    &::before {
      @include transition(transform);
      @include absolute-filled;

      background-color: var(--color-primary);
      transform-origin: 100% 50%;
      content: '';
    }

    &:hover {
      color: var(--color-primary);

      &::before {
        transform: scaleX(0);
      }
    }
  }
}
