@use 'src/scss/config' as *;

.button {
  @include reset-button;
  @include size(100%, rem(45px));
  @include flex(center, center);
  @include transition(color);
  @include make-spacer(px, 20px);

  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  color: var(--color-white);

  &__text {
    position: relative;
    font-size: rem(14px);
    font-weight: var(--typography-medium);
    letter-spacing: var(--border-radius);
    text-transform: uppercase;
    color: currentColor;
  }

  &--primary {
    background-color: var(--color-primary);
    border: rem(1px) solid var(--color-primary);

    &:hover {
      background-color: transparent;
      color: var(--color-primary);

      .button {

        &__text {
          color: var(--color-primary);
        }
      }
    }
  }

  &--animate {
    border: rem(1px) solid var(--color-primary);

    &::before {
      @include transition(transform);
      @include absolute-filled;

      background-color: var(--color-primary);
      transform-origin: 100% 50%;
      content: '';
    }

    &:hover {
      color: var(--color-primary);

      &::before {
        transform: scaleX(0);
      }
    }
  }
}
