mixin button(text)
  a(href="#" aria-label="Label Name").button&attributes(attributes)
    span.button__text= text

mixin button-link(text)
  a.button(aria-label="Label Name")&attributes(attributes)
    span.button__text= text
