mixin social
  ul.social&attributes(attributes)
    li.social__item
      a(href="#").social__link
        i.fab.fa-facebook-f.social__icon
    li.social__item
      a(href="#").social__link
        i.fab.fa-twitter.social__icon
    li.social__item
      a(href="#").social__link
        i.fab.fa-google.social__icon
    li.social__item
      a(href="#").social__link
        i.fab.fa-instagram.social__icon
    li.social__item
      a(href="#").social__link
        i.fab.fa-youtube.social__icon
