mixin social
  ul.social&attributes(attributes)
    li.social__item
      a(href="#" aria-label="Facebook").social__link
        i.fa.fa-facebook-f.social__icon
    li.social__item
      a(href="#" aria-label="Twitter").social__link
        i.fa.fa-twitter.social__icon
    li.social__item
      a(href="#" aria-label="Google").social__link
        i.fa.fa-google.social__icon
    li.social__item
      a(href="#" aria-label="Instagram").social__link
        i.fa.fa-instagram.social__icon
    li.social__item
      a(href="#" aria-label="Youtube").social__link
        i.fa.fa-youtube-play.social__icon
