@use 'src/scss/config' as *;

.social {
  @include flex(center, center, null, wrap);

  &__item {
    @include make-spacer(mr, 15px);

    &:last-child {
      @include make-spacer(mr, 0);
    }
  }

  &__link {
    @include transition(background-color);
    @include flex(center, center);
    @include size(rem(40px));

    background-color: #282828;

    &.active,
    &:hover {
      background-color: var(--color-primary);
    }
  }

  &__icon {
    color: var(--color-white);
  }
}
