-
  var edition = [
    {
      code: 'gb',
      text: 'English',
    },
    {
      code: 'ge',
      text: 'Georgia',
    },
    {
      code: 'ua',
      text: 'Ukraine'
    },
    {
      code: 'cu',
      text: 'Cuba',
    },
    {
      code: 'br',
      text: 'Brazil',
    },
    {
      code: 'hu',
      text: 'Hungary'
    },
  ]

mixin edition
  ul.edition.js-edition&attributes(attributes)
    each item in edition
      li.edition__item
        a.edition__link(data-edition=item.code).js-edition-link
          span.edition__icon
            img(src=`https://img.sportradar.com/ls/crest/big/${item.code}.png`).img.img--cover
          span.edition__text.js-edition-text= item.text
