@use 'src/scss/config' as *;

.pagination {
  @include flex(center);

  &__list {
    @include flex(center, center);

    overflow: hidden;
    border-radius: var(--border-radius);
    background-color: var(--color-shark);
    box-shadow: var(--box-shadow);
    border: rem(1px) solid var(--color-border);
    height: rem(47px);
    color: var(--color-primary);
  }

  &__item {
    @include size(rem(50px), 100%);

    border-right: rem(1px) solid var(--color-border);

    &:last-child {
      border-right: 0;
    }
  }

  &__link {
    @include size(100%);
    @include flex(center, center);

    &--disabled {
      pointer-events: none;
    }

    &--active,
    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}
