@use 'src/scss/config' as *;

.top-list {
  background-color: var(--color-shark);
  border-radius: var(--border-radius);
  overflow: hidden;

  &__header {
    @include flex(null, center);

    border-bottom: rem(1px) solid var(--color-border);
    height: rem(42px);
  }

  &__item {
    border-bottom: rem(1px) solid var(--color-border);

    &:last-child {
      border-bottom: 0;
    }
  }

  &__link {
    @include flex(null, center);
    @include make-spacer(px, 20px);

    gap: rem(8px);
    height: 100%;
    opacity: 0.8;

    &:hover,
    &--active {
      background-color: var(--color-primary);
      color: var(--color-white);
      opacity: 1;
    }
  }

  &__body {
    display: none;

    &--active {
      display: block;
    }
  }
}
