@use 'src/scss/config' as *;

.account-dropdown {
  @include transition;

  position: fixed;
  top: rem(50px);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--color-shark);
  box-shadow: var(--box-shadow);
  z-index: $z-index-12;
  transform: translateX(100%);

  @include media-breakpoint-up(md) {
    left: unset;
    width: rem(320px);
  }

  &--active {
    transform: translateX(0);
  }

  &__meta {
    @include make-spacer(p, 10px);
    @include flex(center, center, column);

    text-align: center;
    gap: rem(10px);
  }

  &__avatar {
    @include size(rem(120px));

    border-radius: 50%;
    overflow: hidden;
  }

  &__item {
    border-top: rem(1px) solid var(--color-porcelain);

    &--dropdown {

      .account-dropdown {

        &__menu {
          display: none;
        }
      }
    }

    &--active {

      .account-dropdown {

        &__arrow {
          transform: rotateZ(180deg);
        }

        &__menu {
          display: block;
        }
      }
    }
  }

  &__link {
    @include flex(space-between, center);
    @include make-spacer(px, 20px);
    @include make-spacer(py, 10px);

    font-family: var(--font-family-alt);
    opacity: 0.9;
    font-size: rem(14px);
    gap: rem(10px);

    i {
      width: rem(20px);
      font-size: rem(20px);
      text-align: center;
    }

    &:hover {
      opacity: 1;
      color: var(--color-primary);

      .account-dropdown {

        &__label {
          transform: translateX(rem(10px));
        }
      }
    }

    &--active {
      opacity: 1;
      color: var(--color-primary);
    }
  }

  &__label {
    @include transition(transform);

    flex: 1;

    &:nth-child(3) {
      @include make-spacer(mr, 0);

      flex: 0;
    }
  }

  &__arrow {
    @include transition;
  }
}