mixin follow
  ul.follow&attributes(attributes)
    li.follow__item
      a(href="#").follow__link
        i.fa.fa-facebook-square.follow__icon
    li.follow__item
      a(href="#").follow__link
        i.fa.fa-twitter-square.follow__icon
    li.follow__item
      a(href="#").follow__link
        i.fa.fa-google-plus-square.follow__icon
    li.follow__item
      a(href="#").follow__link
        i.fa.fa-instagram.follow__icon
    li.follow__item
      a(href="#").follow__link
        i.fa.fa-youtube-play.follow__icon
