mixin follow
  ul.follow&attributes(attributes)
    li.follow__item
      a(href="#").follow__link
        i.fab.fa-facebook-square.follow__icon
    li.follow__item
      a(href="#").follow__link
        i.fab.fa-twitter-square.follow__icon
    li.follow__item
      a(href="#").follow__link
        i.fab.fa-google-plus-square.follow__icon
    li.follow__item
      a(href="#").follow__link
        i.fab.fa-instagram-square.follow__icon
    li.follow__item
      a(href="#").follow__link
        i.fab.fa-youtube-square.follow__icon
