@use 'src/scss/config' as *;

.settings {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-14;

  &--active {
    @include flex(center, center);
  }

  &__shadow {
    @include absolute-filled;

    background-color: rgba(0, 0, 0, 0.75);
  }

  &__close {
    position: absolute;
    top: rem(15px);
    right: rem(15px);
    font-size: rem(20px);

    &:hover {
      color: var(--color-primary);
    }
  }

  &__wrapper {
    @include size(100%);

    position: relative;
    background-color: var(--color-shark);
    overflow: hidden;
    min-width: rem(320px);
    overflow-y: auto;
    max-height: 100%;

    @include media-breakpoint-up(md) {
      max-width: rem(550px);
      height: auto;
      border-radius: var(--border-radius);
      box-shadow: var(--box-shadow);
    }
  }

  &__top {
    @include make-spacer(pt, 60px);
    @include make-spacer(px, 20px);
    @include make-spacer(pb, 30px);
  }

  &__content {
    position: relative;
  }

  &__block {
    @include make-spacer(pb, 20px);
    @include make-spacer(mb, 20px);

    border-bottom: rem(1px) solid var(--color-border);

    &:last-child {
      @include make-spacer(pb, 0);
      @include make-spacer(mb, 0);

      border-bottom: 0;
    }
  }

  &__map {
    @include make-spacer(mx, auto);
    @include make-spacer(mb, 20px);
    @include size(rem(200px), auto);

    svg {
      fill: currentColor;
    }
  }
}
