---
title: D-news | 404
lang: en
---
extends layouts/_layout

block content
  .top-banner
    .top-banner__block
      +banner('Wide #1')
  +header#header

  main.main
    section.section
      .container-fluid
        .container
          +error-content
