---
title: D-news | Contact
lang: en
---
extends layouts/_layout

block content
  +header#header
  .sticky-block
    +nav

  main.main
    section.section
      .container-fluid
        .container
          .row.u-mb-30
            .col.col-md-4.col-verticall-offset
              .address.u-text-center
                .address__icon
                  i.fas.fa-map-signs
                h3.address__title.u-text-transform-capitalize.u-mb-0 Address
                p.address__text Suite 456 New York, NY 123456
            .col.col-md-4.col-verticall-offset
              .address.u-text-center
                .address__icon
                  i.fas.fa-phone-alt
                h3.address__title.u-text-transform-capitalize.u-mb-0 Mobile number
                p.address__text +012 345 678 910
            .col.col-md-4.col-verticall-offset
              .address.u-text-center
                .address__icon
                  i.far.fa-envelope
                h3.address__title.u-text-transform-capitalize.u-mb-0 Email address
                p.address__text info@gmail.com

          +contact-form-1
