---
title: D-news | Details
lang: en
---
extends layouts/_layout

block content
  +header#header
  .sticky-block
    +nav
    +top-news

  main.main
    section.section
      .container-fluid
        .container
          .row
            .col.col-md-7.col-lg-8
              .widget
                .widget__body
                  +post

              .widget
                .widget__header
                  +widget-title('LEAVE A COMMENTS')
                .widget__body
                  +contact-form-2

              .widget
                .widget__body
                  +comments

              .widget
                .widget__header
                  +widget-title('RELATED POST')
                .widget__body
                  .row
                    - var n = 1;
                      while n < 4
                        .col.col-lg-4.col-verticall-offset
                          +post-medium(n++, false).post-medium--column

            .col.col-md-5.col-lg-4
              .widget
                .widget__header
                  +widget-title('Popular Post').u-pt-0
                .widget__body
                  - var n = 1;
                    .row
                      while n < 5
                        .col.col-verticall-offset
                          +post-small(n++, false).post-small--row
              .widget
                .widget__body
                  +banner(14)

              .widget
                .widget__header
                  +widget-title('Follow us')
                .widget__body
                  +follow

              .widget
                .widget__header
                  +widget-title('Recent Posts')
                .widget__body
                  - var n = 1;
                    .row
                      while n < 5
                        .col.col-lg-6.col-verticall-offset
                          +post-small(n++, true).post-small--column

              .widget
                .widget__body
                  +banner(12)
