---
title: D-news
lang: en
---
extends layouts/_layout

block content
  main.main
    section.section
    .container-fluid
      .container
        .row
          .col.col-md-7.col-lg-8
            +widget-title('Latest News')
          .col.col-md-5.col-lg-4
            +widget-title('Popular Post')
            +widget-title('Follow us')
            +widget-title('Recent Posts')
            +widget-title('Weather')
            +widget-title('Weekly toplist')
