---
title: D-news | Sign-In
lang: en
---
extends layouts/_layout

block content
  +header-2#header
  +nav-2.nav--alt
  main.main
    section.section
      .container-fluid
        .container
          +sign-in
