---
title: D-news | Magazines
lang: en
---
extends layouts/_layout

block content
  +header#header
  main.main
    +header-tabs(5)

    section.section
      .container-fluid
        .container
          .widget
            .widget__header
              +widget-title('My account', 'Unsubscribe')

          .panel.u-mb-30
            h4.u-mb-16 My magazines
            .row
              .col.col-md-12
                p.u-mb-10 You do not have an active subscription or purchased individual issues.
                p You can find the subscription that is right for you at
                  a(href="#").u-color-primary.u-ml-5 https://abo.spiegel.de/de/c/spiegelplus.
