---
title: D-news | Subscriptions
lang: en
---
extends layouts/_layout

block content
  .top-banner
    .top-banner__block
      +banner('Wide #1')
  +header(true, 1)#header

  main.main
    section.section
      .container-fluid
        .container
          .widget
            .widget__header
              +widget-title('My account', 'logout').widget-title--alt

          .panel.u-mb-30
            h4 My subscriptions
            +alert('You don\`t have an active subscription.').alert--info.u-mb-16
            +button-link('View all subscriptions').button--primary.button--sm.button--inline

          .panel
            h4 Past subscriptions
            +alert('You have no past subscriptions.').alert--info.u-mb-16
