---
title: D-news | Magazines
lang: en
---
extends layouts/_layout

block content
  +header(true, 4)#header

  main.main
    section.section
      .container-fluid
        .container
          .widget
            .widget__header
              +widget-title('My account', 'logout').widget-title--alt

          .panel.u-mb-30
            h4 My magazines
            p.u-mb-10 You do not have an active subscription or purchased individual issues.
            p You can find the subscription that is right for you at
              a(href="#").u-color-primary.u-ml-5 https://abo.spiegel.de/de/c/spiegelplus.
