---
title: D-news | Events
lang: en
---
extends layouts/_layout

block content
  +header#header
  .sticky-block
    +nav

  main.main
    +header-tabs(3)

    section.section
      .container-fluid
        .container
          .widget
            .widget__header
              +widget-title('My account', 'logout').widget-title--alt

          .panel.u-mb-30
            h4.u-mb-16 My events
            .row
              .col.col-md-12
                +alert('You have not registered for any events at the moment.').alert--info

          .panel
            h4.u-mb-16 Discover events
            p.u-mb-16 DER SPIEGEL regularly invites you to exclusive, digital events - where you can ask your own questions and discuss!
            +button-link('View all events').button--primary.button--sm.button--inline
