---
title: D-news | Newsletter
lang: en
---
extends layouts/_layout

block content
  .top-banner
    .top-banner__block
      +banner('Wide #1')
  +header(true, 2)#header

  main.main
    section.section
      .container-fluid
        .container
          .widget
            .widget__header
              +widget-title('My account', 'logout').widget-title--alt

          .panel.u-mb-30
            h4.u-mb-16 My newsletters
            +alert('You are not currently subscribed to a newsletter.').alert--info

          -
            var newsletters = [
              {
                title: 'The situation in the morning',
                date: 'daily (Mon - Sat)',
                image: 'https://static.gruppenkonto.spiegel.de/images/common/newsletter/sp/die-lage-am-morgen.png'
              },
              {
                title: 'The location: Inside Austria',
                date: 'daily (Mon - Sat)',
                image: 'https://static.gruppenkonto.spiegel.de/images/common/newsletter/sp/inside-austria.png'
              },
              {
                title: 'All the best',
                date: 'weekly (Sat)',
                image: 'https://static.gruppenkonto.spiegel.de/images/common/newsletter/sp/alles-gute.png'
              }
            ]

          .row.u-mb-30
            each item in newsletters
              .col.col-sm-6.col-md-4.col-lg-3.col-verticall-offset
                +newsletter(item)

          .panel
            h4 Discover events
            p.u-mb-16 Receive exciting comments and analyzes from our SPIEGEL journalists directly to your inbox - from current news to socially relevant topics.
            +button-link('View all newsletters').button--primary.button--sm.button--inline
