mixin header(show, id)
  header.header&attributes(attributes)
    .container-fluid
      .container
        .header__container
          .header__left Wed. 24 July 2024

          .header__center
            +nav-scope

          .header__right
            +toggle.js-toggle.header__toggle
            +account
            +bonus
    +nav
    if show
      +header-tabs(id)
    else
      .header__sticky
        +top-news
