mixin header
  header.header&attributes(attributes)
    .container-fluid
      .container
        .header__container
          .header__left
            +breaking-news

          .header__right
            +language.u-mr-30
            +account
