@use 'src/scss/config' as *;

.header {
  @include transition(top);

  position: sticky;
  top: 0;
  z-index: $z-index-12;
  background-color: var(--color-primary);

  &__left,
  &__right {
    min-height: rem(50px);
  }

  &__center,
  &__left {
    display: none;
    color: var(--color-white);

    @include media-breakpoint-up(xl) {
      @include flex(null, center);

      height: 100%;
    }
  }

  &__sticky {
    position: relative;
  }

  &__container {

    @include media-breakpoint-up(md) {
      @include flex(null, center);

      gap: rem(20px);
    }
  }

  &__right {
    @include flex(flex-end, center);

    flex-grow: 1;
    gap: rem(10px);
  }

  &__toggle {
    @include make-spacer(mr,  auto);

    @include media-breakpoint-up(xl) {
      display: none;
    }
  }
}
