@use 'src/scss/config' as *;

.header {
  background-color: var(--color-primary);

  &__container {

    @include media-breakpoint-up(md) {
      @include flex(null, center);

      gap: rem(20px);
    }
  }

  &__left,
  &__right {
    min-height: rem(50px);
  }

  &__left {
    flex-grow: 1;
    border-bottom: rem(1px) solid var(--color-porcelain);

    @include media-breakpoint-up(md) {
      border-bottom: 0;
    }
  }

  &__right {
    @include flex(space-between, center);

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }
}
