@use 'src/scss/config' as *;

.header {
  position: sticky;
  top: 0;
  z-index: $z-index-13;
  background-color: var(--color-primary);

  &__left,
  &__right {
    min-height: rem(50px);
  }

  &__container {

    @include media-breakpoint-up(md) {
      @include flex(null, center);

      gap: rem(20px);
    }
  }

  &__left {
    display: none;
    flex-grow: 1;

    @include media-breakpoint-up(lg) {
      display: block;
      border-bottom: 0;
    }
  }

  &__right {
    @include flex(space-between, center);

    flex-grow: 1;

    @include media-breakpoint-up(lg) {
      justify-content: flex-end;
    }
  }

  &__language {
    display: none;

    @include media-breakpoint-up(lg) {
      display: block;
    }
  }

  &__toggle {

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
