mixin header(show, id)
  header.header&attributes(attributes)
    .container-fluid
      .container
        .header__container
          .header__left
            +breaking-news(1)

          .header__right
            +toggle.js-toggle.header__toggle
            +editions.header__editions.u-mr-16
            +account
    +nav
    if show
      +header-tabs(id)
    else
      .header__sticky
        +top-news
