@use 'src/scss/config' as *;

.gallery-rss {
  max-height: rem(450px);

  .swiper-slide {
    @include flex(null, center);
  }
}

.gallery-ticker {

  p {
    @include line-clamp(2);
  }

  .swiper-slide {
    @include make-spacer(pr, 75px);
    @include flex(null, center);
  }

  .swiper-navigation {
    @include flex(center, center);

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    gap: rem(5px);
    background-color: var(--color-cod-gray);
    z-index: $z-index-1;
  }

  .swiper-button-prev,
  .swiper-button-next {
    @include make-spacer(m, 0);
    @include size(rem(25px));

    color: var(--color-text);
    border: rem(2px) solid currentColor;
    position: static;

    &::after {
      font-size: rem(14px);
      font-weight: var(--typography-bold);
      color: currentColor;
    }

    &:hover {
      color: var(--color-primary);
    }
  }
}

.gallery-default {
  @include size(100%);

  //aspect-ratio: 16/9;

  .swiper-slide {
    @include size(100%);
  }

  .swiper-button-next,
  .swiper-button-prev {
    color: var(--color-white);
  }
}

.gallery-photo {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  background-color: var(--color-shark);

  .swiper-slide {

    &:hover {

      .img {
        transform: scale(1.1);
      }
    }

    .img {
      @include transition(transform);

      aspect-ratio: 16/9;
    }

    .content {
      @include make-spacer(p, 10px);

      display: block;
    }
  }
}

.gallery-thumb-photo {
  @include make-spacer(p, 10px!important);

  background-color: var(--color-shark);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  border-top: rem(1px) solid var(--color-border);
  height: rem(96px);

  .swiper-slide {
    @include transition(opacity);

    cursor: pointer;
    border-radius: var(--border-radius);
    overflow: hidden;
    opacity: 0.4;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}
