@use 'src/scss/config' as *;

.submenu {
  @include make-spacer(px, 10px);
  @include make-spacer(px, 0, lg);

  @include media-breakpoint-up(lg) {
    background-color: var(--color-shark);
    box-shadow: var(--box-shadow);
  }

  &--wide {

    .submenu {

      &__list {
        @include make-spacer(mb, 20px);
        @include make-spacer(mb, 0, lg);
      }

      &__item {
        border: 0;
      }

      &__title {
        @include make-spacer(mb, 15px, lg);

        font-size: rem(14px);
      }

      &__link {
        @include make-spacer(pl, 0);
        @include make-spacer(py, 5px);

        font-size: rem(14px);
      }
    }
  }

  &__item {
    border-top: rem(1px) solid var(--color-porcelain);
  }

  &__link {
    @include transition(all);
    @include make-spacer(px, 20px);
    @include make-spacer(py, 10px);

    display: block;
    font-size: rem(14px);
    opacity: 0.9;

    &:hover {
      opacity: 1;
      color: var(--color-primary);
      transform: translateX(rem(10px));
    }

    &--active {
      opacity: 1;
      color: var(--color-primary);
    }
  }

  &__container {
    @include make-spacer(p, 15px);
    @include make-spacer(p, 30px, lg);
  }

  &__title {
    @include make-spacer(pb, 10px);
    @include make-spacer(mb, 10px);
    @include make-spacer(mb, 20px, lg);

    border-bottom: rem(1px) solid var(--color-porcelain);
    font-size: rem(14px);
    font-weight: var(--typography-medium);

    @include media-breakpoint-up(xl) {
      font-size: rem(16px);
    }
  }
}
