mixin war-banner
  .war-banner&attributes(attributes)
    p.war-banner__title Война в Украине. Суммарные ориентировочные потери противника на 654 день.
    .war-banner__container
      .war-banner__item
        .war-banner__img
          img(src='./img/war/1.png').img
        h6.war-banner__count
          | ~3338120
          span +900
        p.war-banner__description В личном составе

      .war-banner__item
        .war-banner__img
          img(src='./img/war/2.png').img
        h6.war-banner__count 324
        p.war-banner__description Самолетов

      .war-banner__item
        .war-banner__img
          img(src='./img/war/3.png').img
        h6.war-banner__count 324
        p.war-banner__description Вертолетов

      .war-banner__item
        .war-banner__img
          img(src='./img/war/4.png').img
        h6.war-banner__count
          | 5632
          span +6
        p.war-banner__description Танков

      .war-banner__item
        .war-banner__img
          img(src='./img/war/5.png').img
        h6.war-banner__count
          | 10519
          span +11
        p.war-banner__description ББМ

      .war-banner__item
        .war-banner__img
          img(src='./img/war/6.png').img
        h6.war-banner__count
          | 8058
          span +1
        p.war-banner__description Артиллеристских систем

      .war-banner__item
        .war-banner__img
          img(src='./img/war/7.png').img
        h6.war-banner__count 605
        p.war-banner__description Средства ПВО

      .war-banner__item
        .war-banner__img
          img(src='./img/war/8.png').img
        h6.war-banner__count 919
        p.war-banner__description РСЗО

      .war-banner__item
        .war-banner__img
          img(src='./img/war/9.png').img
        h6.war-banner__count
          | 10598
          span +7
        p.war-banner__description Автомобильной техники и цистерн с ГСМ

      .war-banner__item
        .war-banner__img
          img(src='./img/war/10.png').img
        h6.war-banner__count 22
        p.war-banner__description Корабли и катера

      .war-banner__item
        .war-banner__img
          img(src='./img/war/11.png').img
        h6.war-banner__count 6136
        p.war-banner__description Оперативно-тактические БПЛА
