@use 'src/scss/config' as *;

.team-member {
  background-color: var(--color-shark);
  border-radius: var(--border-radius);
  overflow: hidden;

  &:hover {

    .team-member {

      &__image {

        .img {
          transform: scale(1.1);
        }
      }
    }
  }

  &__image {
    aspect-ratio: 16/9;
    overflow: hidden;

    .img {
      @include transition(transform);
    }
  }

  &__content {
    @include flex(null, null, column);
    @include make-spacer(p, 15px);

    color: var(--color-comet);
    gap: rem(10px);
  }

  &__title {
    color: currentColor;
    font-size: rem(20px);
  }

  &__meta {
    @include flex(null, center);

    column-gap: rem(10px);
  }
}
