mixin team-member(id)
  .team-member&attributes(attributes)
    .team-member__image
      img(src=`https://chtstudio.com/demo/news/images/team/${id}.jpg` loading="lazy").img.img--cover
    .team-member__content
      h2.team-member__title.u-text-transform-capitalize.u-mb-0 Leaf Corcoran
      p.team-member__text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
      ul.team-member__meta
        li.team-member__item
          a(href="#").team-member__link
            i.fa.fa-facebook-f.team-member__icon
        li.team-member__item
          a(href="#").team-member__link
            i.fa.fa-twitter.team-member__icon
        li.team-member__item
          a(href="#").team-member__link
            i.fa.fa-google.team-member__icon
        li.team-member__item
          a(href="#").team-member__link
            i.fa.fa-instagram.team-member__icon
        li.team-member__item
          a(href="#").team-member__link
            i.fa.fa-youtube-play.team-member__icon
