@use '../config' as *;

*,
::after,
::before {
  box-sizing: border-box;
}

body[theme="dark"] {
  --color-title: #fff;
  --color-text: #fff;
  --color-cod-gray: #0d0d0d;
  --color-mine-shaft: #282828;
  --color-comet: #5e5e75;
  --color-shark: #292b2d;
  --color-border: #5e5e75;

  .logo {
    background-image: url('https://chtstudio.com/demo/news/images/logo-white.png');
  }

  .footer {

    .logo {
      background-image: url('https://chtstudio.com/demo/news/images/logo-white.png');
    }
  }
}

body[theme="light"] {
  --color-title: #000;
  --color-text: #333;
  --color-cod-gray: #f0f3f5;
  --color-mine-shaft: #F6F6F6;
  --color-comet: #aaa;
  --color-shark: #fff;
  --color-border: #e3e6e8;

  .logo {
    background-image: url('https://chtstudio.com/demo/news/images/logo.png');
  }

  .footer {

    .logo {
      background-image: url('https://chtstudio.com/demo/news/images/logo-white.png');
    }
  }
}

body {
  @include smooth-font;

  min-width: rem(375px);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: var(--line-height);
  letter-spacing: 0.5px;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-medium);
  background-color: var(--color-cod-gray);
}

button {
  @include reset-button;
}

a,
.a {
  @include transition(all);

  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:active,
  &:hover {
    color: var(--color-primary);
  }
}

p {
  @include make-spacer(p, 0);
  @include make-spacer(m, 0);
}

ul,
ol {
  @include reset-list;
}

.picture,
.img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;

  &--cover {
    object-fit: cover;
  }

  &--responsive {
    height: auto;
  }
}

.wide {
  @include size(100%);
}

.section {
  @include make-spacer(py, 50px);

  position: relative;
}

.widget {
  @include make-spacer(mb, 30px);

  &__header {
    align-items: center;
    column-gap: rem(20px);
  }

  &--alt {

    .widget {

      &__header {
        display: grid;
        grid-template-columns: 1fr auto;
      }
    }

    .swiper-pagination {
      @include make-spacer(mt, 15px);

      position: static;

      .swiper-pagination-bullet {
        @include make-spacer(mx, 2px!important);

        background-color: var(--color-gray-chateau);
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background-color: var(--color-primary);
      }
    }

    .swiper-navigation {
      @include make-spacer(mt, 15px);
      @include flex(center, center);

      position: relative;
      min-height: rem(20px);

      .swiper-button-next,
      .swiper-button-prev {
        @include make-spacer(m, 0);
        @include size(rem(20px));

        position: static;

        &::after {
          @include transition(all);

          font-size: rem(16px);
          color: var(--color-text);
        }

        &:hover {

          &::after {
            color: var(--color-primary);
          }
        }
      }
    }
  }
}

.thumbnail {
  @include size(100%);

  display: block;
  overflow: hidden;

  img {
    @include transition(transform);
  }

  &:hover {

    img {
      transform: scale(1.2);
    }
  }
}

.news-ticker {
  display: grid;
  gap: rem(10px);

  @include media-breakpoint-up(md) {
    grid-template-columns: auto 1fr;
  }

  &__title,
  &__slider {
    @include size(100%, rem(45px));
  }

  &__title{
    @include make-spacer(m, 0);
    @include flex(center, center);

    background-color: var(--color-primary);
    font-size: rem(14px);
    width: rem(150px);
    color: var(--color-white);
  }

  .swiper-button-prev,
  .swiper-button-next {
    border-radius: var(--border-radius);
    opacity: 0.7;
  }
}

.group-sticky {

  &--sticky {
    position: sticky;
    top: 0;
  }
}

.panel {
  @include make-spacer(p, 15px);

  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color-shark);
}
