@use '../config' as *;

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  @include smooth-font;

  min-width: rem(375px);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: var(--line-height);
  letter-spacing: 0.5px;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-medium);
}

button {
  @include reset-button;
}

a,
.a {
  @include transition(all);

  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:active,
  &:hover {
    color: var(--color-primary);
  }
}

p {
  @include make-spacer(p, 0);
  @include make-spacer(m, 0);
}

ul,
ol {
  @include reset-list;
}

.picture,
.img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;

  &--cover {
    object-fit: cover;
  }
}

.main {
  background-color: var(--color-cod-gray);
}

.section {
  position: relative;
}

.widget {
  @include make-spacer(mb, 30px);

  &__header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    column-gap: rem(20px);

    .swiper-pagination {
      @include make-spacer(mt, 15px);

      position: static;

      .swiper-pagination-bullet {
        @include make-spacer(mx, 2px!important);

        background-color: var(--color-gray-chateau);
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background-color: var(--color-primary);
      }
    }
  }
}

.banner {
  display: block;
  border-radius: rem(4px);
  overflow: hidden;
}

.gallery-photo {
  border-radius: rem(4px) rem(4px) 0 0;
  aspect-ratio: 16/9;

  .swiper-slide {

    &:hover {

      .img {
        transform: scale(1.1);
      }
    }

    .img {
      @include transition(transform);
    }
  }
}

.gallery-thumb-photo {
  @include make-spacer(p, 10px!important);

  background-color: var(--color-white);
  border-radius: 0 0 rem(4px) rem(4px);
  height: rem(96px);

  .swiper-slide {
    @include transition(opacity);

    cursor: pointer;
    border-radius: rem(4px);
    overflow: hidden;
    opacity: 0.4;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}
