@use '../config' as *;

*,
::after,
::before {
  box-sizing: border-box;
}

body[theme="dark"] {
  --color-title: #fff;
  --color-text: #fff;
  --color-cod-gray: #0d0d0d;
  --color-mine-shaft: #282828;
  --color-comet: #5e5e75;
  --color-shark: #292b2d;
  --color-border: #5e5e75;

  .logo {
    background-image: url('https://chtstudio.com/demo/news/images/logo-white.png');
  }

  .footer {

    .logo {
      background-image: url('https://chtstudio.com/demo/news/images/logo-white.png');
    }
  }

  .mode-switch {

    &__icon {

      &::before {
        content: '\f186'
      }
    }
  }
}

body[theme="light"] {
  --color-title: #000;
  --color-text: #333;
  --color-cod-gray: #f0f3f5;
  --color-mine-shaft: #F6F6F6;
  --color-comet: #aaa;
  --color-shark: #fff;
  --color-border: #e3e6e8;

  .logo {
    background-image: url('https://chtstudio.com/demo/news/images/logo.png');
  }

  .footer {

    .logo {
      background-image: url('https://chtstudio.com/demo/news/images/logo-white.png');
    }
  }

  .mode-switch {

    &__icon {

      &::before {
        content: '\f185'
      }
    }
  }
}

body {
  @include smooth-font;

  min-width: rem(360px);
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: var(--line-height);
  letter-spacing: 0.5px;
  color: var(--color-text);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--typography-medium);
  background-color: var(--color-cod-gray);
}

button {
  @include reset-button;
}

a,
.a {
  @include transition(all);

  cursor: pointer;
  text-decoration: none;
  color: inherit;

  &:active,
  &:hover {
    color: var(--color-primary);
  }
}

p {
  @include make-spacer(p, 0);
  @include make-spacer(m, 0);
}

ul,
ol {
  @include reset-list;
}

.picture,
.img {
  @include size(100%);

  display: block;
  object-fit: contain;
  object-position: center;

  &--cover {
    object-fit: cover;
  }

  &--responsive {
    height: auto;
  }
}

.main {
  position: relative;
  background-color: var(--color-cod-gray);
}

.top-banner {
  height: 50vw;

  @include media-breakpoint-up(sm) {
    height: 33.3vw;
  }

  @include media-breakpoint-up(md) {
    height: 25vw;
  }

  @include media-breakpoint-up(xl) {
    height: 20vw;
  }

  &__block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: inherit;
    z-index: 0;
  }
}

.wide {
  @include size(100%);
}

.section {
  @include make-spacer(py, 24px);

  position: relative;
}

.widget {
  @include make-spacer(mb, 24px);

  &__header {
    align-items: center;
    column-gap: rem(20px);
  }

  &--custom,
  &--alt {

    .swiper-pagination {
      position: static;

      .swiper-pagination-bullet {
        @include make-spacer(mx, 2px!important);

        background-color: var(--color-gray-chateau);
        opacity: 1;
      }

      .swiper-pagination-bullet-active {
        background-color: var(--color-primary);
      }
    }

    .swiper-navigation {
      @include flex(center, center);

      position: relative;
      min-height: rem(20px);

      .swiper-button-next,
      .swiper-button-prev {
        @include make-spacer(m, 0);
        @include size(rem(20px));

        position: static;

        &::after {
          @include transition(all);

          font-size: rem(16px);
          color: var(--color-text);
        }

        &:hover {

          &::after {
            color: var(--color-primary);
          }
        }
      }
    }
  }

  &--alt {

    .widget {

      &__header {
        display: grid;
        grid-template-columns: 1fr auto;
      }
    }

    .swiper-pagination,
    .swiper-navigation {
      @include make-spacer(mt, 15px);
    }
  }

}

.thumbnail {
  @include size(100%);

  display: block;
  overflow: hidden;

  img {
    @include transition(transform);
  }

  &:hover {

    img {
      transform: scale(1.2);
    }
  }
}

.group-sticky {

  &--sticky {
    position: sticky;
    top: 0;
  }
}

.panel {
  @include make-spacer(p, 15px);

  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color-shark);
}

.delete-card {
  @include size(100%);
  @include flex(center, center, column);
  @include make-spacer(p, 20px);
  @include make-spacer(p, 30px, lg);

  border-radius: var(--border-radius);
  background-color: var(--color-shark);
  box-shadow: var(--box-shadow);
  gap: rem(10px);

  &__title {
    font-size: rem(22px);

    @include media-breakpoint-up(lg) {
      font-size: rem(24px);
    }
  }

  &__icon {
    @include make-spacer(mb, 10px);
    @include flex(center, center);
    @include size(rem(80px));

    background-color: var(--color-primary);
    border-radius: 50%;
    overflow: hidden;
    font-size: rem(30px);
    color: var(--color-white);
  }

  &__link {
    @include make-spacer(ml, 5px);

    color: var(--color-primary);
  }
}

.bookmark {
  @include size(rem(30px));
  @include flex(center, center);

  border-radius: 50%;
  position: absolute;
  top: rem(20px);
  right: rem(25px);
  z-index: $z-index-1;
  background-color: var(--color-primary);
  font-size: rem(12px);
  color: var(--color-white);
}

.gallery-magazines,
.gallery-online-games {

  .swiper-pagination {
    @include make-spacer(mt, 10px);

    position: static;

    .swiper-pagination-bullet {
      @include make-spacer(mx, 2px!important);

      background-color: var(--color-gray-chateau);
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background-color: var(--color-primary);
    }
  }
}

.gallery-magazines {

  .swiper-slide {
    width: rem(140px)!important;
  }
}

.gallery-rss {

  &.swiper-vertical {
    touch-action: initial!important;
  }
}

.gallery-online-games {

  .swiper-slide {
    width: rem(100px)!important;
  }
}

.quiz {
  display: none;

  &--active {
    display: block;
  }
}

.quiz-question {
  @include make-spacer(py, 10px);
  @include make-spacer(px, 0);
  @include make-spacer(p, 20px, lg);

  &__wrapper {
    display: grid;
    gap: rem(20px);

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1.5fr 2fr;
      align-items: flex-start;
    }
  }

  &__list {
    display: grid;
    gap: rem(15px);

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__block {
    @include flex($align-items: center);

    gap: rem(10px);
  }

  &__radio {
    @include make-spacer(pl, 40px!important);

    border-radius: var(--border-radius);
    height: rem(48px) !important;
    border: 1px solid var(--color-border);
    background-color: var(--color-mine-shaft);

    .radio {

      &__item {
        @include size(rem(20px));

        left: rem(10px);
        background-color: var(--color-shark);
        border-color: var(--color-border);
      }
    }
  }

  &__image {
    max-width: 100%;
  }
}

.quiz-pagination {
  @include flex($align-items: center);

  gap: rem(15px);

  &::before {
    @include size(100%, rem(1px));

    display: block;
    flex: 1;
    background-color: var(--color-border);
    content: '';
  }

  &__list {
    @include flex($align-items: center);
  }

  &__dot {
    @include size(rem(10px));
    @include make-spacer('mx', 2px);

    background-color: var(--color-gray-chateau);
    border-radius: 50%;

    &--true {
      background-color: var(--color-green);
    }

    &--false {
      background-color: var(--color-primary);
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;

  &--sm {

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr rem(332px);
      column-gap: $grid-padding * 2;
    }
  }

  &--lg {

    @include media-breakpoint-up(lg) {
      grid-template-columns: 1fr rem(450px);
      column-gap: $grid-padding * 2;
    }
  }

  &__column {
    overflow: hidden;
  }
}

.sa-sticky {
  overflow: hidden!important;
}

.mode-switch {
  @include make-spacer(py, 10px);
  @include make-spacer(pr, 10px);
  @include make-spacer(px, 15px, lg);
  @include flex($align-items: center);

  gap: rem(5px);
  font-family: var(--font-family-alt);

  &__icon {
    font-size: rem(18px);
  }

  &__text {
    font-size: rem(14px);
  }

  &__input {
    @include make-spacer(ml, auto);
  }
}

.datepicker {
  display: block!important;

  &__next,
  &__prev {
    background-color: var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
    }
  }

  &__wrapper {
    width: 100%!important;
    border: 0;
    background: transparent;
  }

  &__header {
    background-color: transparent;
  }

  &__title {
    color: var(--color-text);
  }

  &__day {
    color: var(--color-text);

    &.is-disabled,
    &.is-otherMonth {
      color: var(--color-text);
      opacity: 0.6;
    }

    &.is-today {
      color: var(--color-primary);
    }

    &.is-selected {

      &:hover {

        div {

          &::after {
            background-color: var(--color-primary);
          }
        }
      }

      div {
        background-color: var(--color-primary);

        &:hover {
          background-color: var(--color-primary);
        }
      }
    }

    &.is-highlighted {

      div {
        background: none!important;
      }
    }

    div {

      &:hover {
        background: var(--color-primary);
        color: var(--color-white);
      }
    }
  }

  &__daynum {
    font-size: rem(14px);
  }

  table {

    th {
      color: var(--color-text);
      opacity: 0.6;
      font-size: rem(12px);
    }
  }
}

.datepicker:not(.is-inline) {

  .datepicker {

    &__wrapper {
      right: 0!important;
      left: unset!important;
      min-width: rem(250px);
      border-radius: var(--border-radius);
      background-color: var(--color-shark);
      box-shadow: var(--box-shadow);
      overflow: hidden;
      height: rem(310px);

      @include media-breakpoint-up(xl) {
        display: none!important;
      }
    }

    &__header {
      @include make-spacer(p, 10px);
    }
  }
}

.calendar {
  @include make-spacer(p, 20px);

  border-radius: var(--border-radius);
  background-color: var(--color-shark);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  border: 0;
  width: 100%!important;
  min-height: rem(432px);
}

.button-calendar {
  @include flex(center, center);
  @include size(rem(35px));

  background-color: var(--color-shark);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  color: var(--color-text);

  @include media-breakpoint-up(md) {
    @include size(rem(40px));
  }

  @include media-breakpoint-up(xl) {
    display: none;
  }
}
