@use '../config' as *;

.container-fluid {
  @include make-spacer(px, $grid-padding);
  @include make-spacer(mx, auto);

  width: 100%;
}

.container {
  @include make-spacer(mx, auto);

  position: relative;
  max-width: rem(1400px);
}

.row {
  @include flex($wrap: wrap);

  margin-right: -$grid-padding;
  margin-left: -$grid-padding;

  &--center {
    align-items: center;
  }
}

.col {
  @include make-spacer(px, $grid-padding);

  flex: 1 0 100%;
  max-width: 100%;
  position: relative;

  @for $i from 1 through $count-column {

    &-#{$i} {
      flex: 0 0 ($i * $count-width) * 1%;
      max-width: ($i * $count-width) * 1%;
    }
  }

  &-verticall-offset {
    @include make-spacer(py, $grid-padding);
  }
}

@each $status, $breakpoints-size in $grid-breakpoints {
  @media (min-width: $breakpoints-size) {

    .col-#{$status} {
      @for $i from 1 through $count-column {

        &-#{$i} {
          flex: 0 0 ($i * $count-width) * 1%;
          min-width: ($i * $count-width) * 1%;
        }
      }
    }
  }
}
