@use 'src/scss/config' as *;

.breaking-news {
  @include flex(null, center);

  &__slogan {
    @include make-spacer(py, 15px);
    @include make-spacer(pr, 20px);

    flex-shrink: 0;
    border-right: rem(1px) solid var(--color-porcelain);
    color: var(--color-white);
  }
}
