mixin breaking-news(type)
  .breaking-news&attributes(attributes)
    if type === 1
      p.breaking-news__slogan Breaking News
      +ticker.js-ticker.breaking-news__ticker
    else
      p.breaking-news__text Wednesday 5 July 2023
