mixin comments
  .comments&attributes(attributes)
    .widget
      .widget__header
        +widget-title('comments')
      .widget__body
        ul.comments__list
          li.comments__item
            +comment.comment--replay
            ul.comments__list
              li.comments__item
                +comment.comment--small
                ul.comments__list
                  li.comments__item
                    +comment.comment--small
                  li.comments__item
                    +comment.comment--small.comment--replay
                  li.comments__item
                    +comment.comment--small
              li.comments__item
                +comment.comment--small
          li.comments__item
            +comment
