@use 'src/scss/config' as *;

.bonus {

  &__wrapper {
    @include flex(null, center);

    gap: rem(8px);
    cursor: pointer;
  }

  &__text {
    color: var(--color-white);
    font-family: var(--font-family-alt);
  }

  &__icon {
    @include flex(center, center);
    @include size(rem(30px));

    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 50%;
    overflow: hidden;
  }
}
