mixin menu
  menu.menu&attributes(attributes)
    .menu__item
      a(href="#").menu__link.menu__link--active
        span.menu__text Home
        span.menu__icon
          i.fa.fa.fa-angle-down
      .menu__dropdown.menu__dropdown--left
        +submenu([
          {
            text: 'Home v-1',
            href: "#"
          },
          {
            text: 'Home v-2',
            href: "#"
          },
          {
            text: 'Home v-3',
            href: "#"
          }]
        )

    .menu__item
      a(href="#").menu__link
        span.menu__text Business
        span.menu__icon
          i.fa.fa.fa-angle-down
      .menu__dropdown.menu__dropdown--left
        +submenu([
          {
            text: 'Dropdown menu',
            href: "#"
          },
          {
            text: 'Dropdown menu',
            href: "#"
          }]
        )

    .menu__item
      a(href="#").menu__link
        span.menu__text Politics
        span.menu__icon
          i.fa.fa.fa-angle-down
      .menu__dropdown.menu__dropdown--left
        +submenu([
          {
            text: 'Dropdown menu',
            href: "#"
          },
          {
            text: 'Dropdown menu',
            href: "#"
          }]
        )

    .menu__item
      a(href="#").menu__link
        span.menu__text Category

    .menu__item
      a(href="#").menu__link
        span.menu__text Mega Menu
        span.menu__icon
          i.fa.fa.fa-angle-down
      .menu__dropdown.menu__dropdown--wide
        +submenu-wide.submenu--wide

    .menu__item
      a(href="./about.html").menu__link
        span.menu__text About

    .menu__item
      a(href="#").menu__link
        span.menu__text Pages
        span.menu__icon
          i.fa.fa.fa-angle-down
      .menu__dropdown.menu__dropdown--right
        +submenu([
          {
            text: 'News Details',
            href: "./details.html"
          },
          {
            text: 'Contact Page',
            href: "./contact.html"
          },
          {
            text: 'Sign In',
            href: "./sign-in.html"
          },
          {
            text: 'Sign Up',
            href: "./sign-up.html"
          },
          {
            text: '404',
            href: "./404.html"
          }]
        )
