@use 'src/scss/config' as *;

.menu {
  @include make-spacer(p, 0);
  @include make-spacer(m, 0);
  @include flex(flex-start, null, column);
  @include transition;

  position: fixed;
  top: rem(112px);
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-shark);
  box-shadow: var(--box-shadow);
  overflow-y: auto;
  overflow-x: hidden;
  transform: translateX(-100%);

  @include media-breakpoint-up(md) {
    max-width: rem(320px);
  }

  @include media-breakpoint-up(xl) {
    position: static;
    flex-direction: row;
    background-color: transparent;
    box-shadow: unset;
    overflow: unset;
    transform: unset;
    max-width: 100%;
  }

  &--active {
    transform: unset;

    @include media-breakpoint-up(xl) {
      position: static;
      flex-direction: row;
    }
  }

  &__decor,
  &__icon {
    line-height: 1;
  }

  &__wrapper {
    @include make-spacer(mr, 10px, xl);

    @include media-breakpoint-up(xl) {
      @include flex;

      overflow-x: auto;
      flex-grow: 1;

      &::-webkit-scrollbar {
        width: rem(15px);
      }

      &::-webkit-scrollbar-track {
        background-color: var(--color-shark);
        height: rem(5px);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--color-primary);
        border-top: rem(10px) solid var(--color-shark);
        border-bottom: 0;
      }
    }
  }

  &__item {
    flex-shrink: 0;

    &--active {

      .menu {

        &__dropdown {
          display: block;
        }

        &__link {
          color: var(--color-primary);
          opacity: 1;
        }

        &__icon {
          transform: rotateZ(180deg);
        }
      }
    }

    &--hidden {
      display: block;

      @include media-breakpoint-up(xl) {
        display: none;
      }
    }
  }

  &__link {
    @include flex(space-between, center);
    @include make-spacer(py, 10px);
    @include make-spacer(pl, 30px);
    @include make-spacer(pr, 20px);
    @include make-spacer(p, 15px, xl);

    gap: rem(5px);
    white-space: nowrap;
    font-size: rem(14px);
    font-weight: var(--typography-medium);
    font-family: var(--font-family-alt);
    opacity: 0.9;

    &--hidden {
      display: none;

      @include media-breakpoint-up(xl) {
        @include flex(space-between, center);
      }
    }
  }

  &__icon {
    @include transition(transform);
  }

  &__decor {
    font-size: rem(16px);
  }

  &__dropdown {
    display: none;

    @include media-breakpoint-up(xl) {
      position: absolute;
      top: calc(100% + rem(10px));
      min-width: rem(225px);
      z-index: $z-index-1;
    }

    &--right {

      @include media-breakpoint-up(xl) {
        transform: translateX(-50%);
      }
    }

    &--wide {
      left: 0;
      right: 0;
      width: 100%;
    }

    &--hidden {
      display: block;

      @include media-breakpoint-up(xl) {
        display: none;
      }
    }
  }
}
