mixin menu
  menu.menu&attributes(attributes)
    .menu__item
      a(href="#launch").menu__link
        span.menu__text Home
        span.menu__icon
          i.fa.fa.fa-angle-down
    .menu__item
      a(href="#launch").menu__link
        span.menu__text Business
        span.menu__icon
          i.fa.fa.fa-angle-down
    .menu__item
      a(href="#launch").menu__link
        span.menu__text Politics
        span.menu__icon
          i.fa.fa.fa-angle-down
    .menu__item
      a(href="#launch").menu__link
        span.menu__text Category
    .menu__item
      a(href="#launch").menu__link
        span.menu__text Mega Menu
        span.menu__icon
          i.fa.fa.fa-angle-down
    .menu__item
      a(href="#launch").menu__link
        span.menu__text About
    .menu__item
      a(href="#launch").menu__link
        span.menu__text Pages
        span.menu__icon
          i.fa.fa.fa-angle-down
