@use 'src/scss/config' as *;

.menu {
  @include make-spacer(p, 0);
  @include make-spacer(m, 0);
  @include flex(null, null, column);

  display: none;
  position: absolute;
  top: calc(100% + rem(10px));
  left: -$grid-padding;
  right: -$grid-padding;
  background-color: var(--color-shark);
  z-index: $z-index-12;
  box-shadow: var(--box-shadow);

  @include media-breakpoint-up(lg) {
    @include flex(null, null, column);

    position: static;
    flex-direction: row;
    background-color: transparent;
    box-shadow: unset;
  }

  &--active {
    @include flex(null, null, column);

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }
  }

  &__item {

    &:hover {

      .menu {

        &__dropdown {
          display: block;
        }
      }
    }

    &:last-child {

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  &__link {
    @include flex(space-between, center);
    @include make-spacer(py, 10px);
    @include make-spacer(pl, $grid-padding);
    @include make-spacer(pr, 20px);
    @include make-spacer(px, 10px, lg);
    @include make-spacer(p, 15px, xl);

    white-space: nowrap;
    font-size: rem(14px);
    font-weight: var(--typography-medium);
    opacity: 0.9;

    &--active {
      color: var(--color-primary);
      opacity: 1;
    }
  }

  &__icon {
    @include make-spacer(ml, 5px);
  }

  &__dropdown {
    display: none;

    @include media-breakpoint-up(lg) {
      @include make-spacer(pt, 11px);

      position: absolute;
      top: 100%;
      min-width: rem(225px);
      z-index: $z-index-1;
    }

    &--right {

      @include media-breakpoint-up(lg) {
        transform: translateX(-60%);
      }
    }

    &--wide {
      left: 0;
      right: 0;
      width: 100%;
    }
  }
}
