:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #f9430a;
  --color-secondary: #00a3ff;
  --color-title: #243238;
  --color-text: #243238;

  --color-cod-gray: #0d0d0d;
  --color-mine-shaft: #282828;
  --color-shark: #292b2d;
  --color-comet: #5e5e75;
  --color-gray-chateau: #a5a7a8;
  --color-porcelain: #e3e6e8;
  --color-dodger-blue: #2196f3;
  --color-tory-blue: #0d47a1;
  --color-regent-gray: #7a929e;
}
