mixin account
  .account&attributes(attributes)
    .account__wrapper.js-account-wrapper
      p.account__text Guest
      .account__icon
        i.fa.fa-user
    .account__dropdown.js-account-dropdown
      .account__meta
        .account__avatar
          img(src="https://chtstudio.com/demo/news/images/post/sm5.jpg" loading="lazy").img.img--cover
        p.account__name Username

      ul.account__menu
        li.account__item.js-account-item
          a(href="#").account__link
            i.fa.fa-trophy
            span.account__label Rewards
            span 443 
        li.account__item.js-account-item
          a(href="#").account__link
            i.fa.fa-plus-square-o
            span.account__label Collection
        li.account__item.js-account-item
          a(href="#").account__link
            i.fa.fa-user
            span.account__label My profile
        li.account__item.js-account-item
          a(href="#").account__link
            i.fa.fa-cog
            span.account__label Settings
        li.account__item.js-account-item
          a(href="#").account__link
            i.fa.fa-repeat
            span.account__label Search Journal
        li.account__item.account__item--dropdown.js-account-item
          a.account__link
            i.fa.fa-lock
            span.account__label Confidential
            i.fa.fa-angle-down.account__arrow
          ul.account__menu
            li.account__item
              a(href="#").account__link
                span Link
            li.account__item
              a(href="#").account__link
                span Collection  
        li.account__item.js-account-item
          a(href="#").account__link
            i.fa.fa-envelope-o
            span.account__label Support
        li.account__item.account__item--dropdown.js-account-item
          a.account__link
            i.fa.fa-repeat
            span.account__label Dropdown
            i.fa.fa-angle-down.account__arrow
          ul.account__menu
            li.account__item
              a(href="#").account__link
                span Link
            li.account__item
              a(href="#").account__link
                span Collection