@use 'src/scss/config' as *;

.account {
  @include flex(null, center);

  color: var(--color-white);
  font-family: var(--font-family-alt);

  &__icon {
    @include make-spacer(mr, 5px);
  }

  &__hr {
    @include make-spacer(mx, 5px);
  }

  &__link {

    &:hover {
      color: var(--color-white);
    }
  }
}
