mixin account
  .account&attributes(attributes)
    .account__icon
      i.fa.fa-user-circle.u-color-white
    a(href="#").account__link.u-color-white Login
    p.account__hr.u-color-white /
    a(href="#").account__link.u-color-white SignUp
