mixin account
  .account&attributes(attributes)
    .account__icon
      i.fa.fa-user-circle
    a(href="./sign-in.html").account__link Login
    p.account__hr /
    a(href="./sign-up.html").account__link SignUp
