@use 'src/scss/config' as *;

.service {
  @include size(100%);
  @include flex(null, null, column);
  @include make-spacer(p, 20px);
  @include make-spacer(p, 30px, lg);

  border-radius: var(--border-radius);
  background-color: var(--color-shark);
  gap: rem(20px);

  &__icon {
    color: var(--color-primary);
    font-size: rem(40px);
  }

  &__title {
    font-size: rem(20px);
    color: currentColor;
  }
}
