mixin nav
  nav.nav&attributes(attributes)
    .container-fluid
      .container
        .nav__container
          +logo.nav__logo
          +menu.nav__menu
          +search.nav__search
        //+toggle
