@use 'src/scss/config' as *;

.nav {
  @include make-spacer(py, 10px);

  position: relative;
  z-index: $z-index-1;
  background-color: var(--color-shark);

  &__logo,
  &__search,
  &__toggle {
    flex-shrink: 0;
  }

  &__container {
    @include make-spacer(pr, 40px);
    @include flex(space-between, center);
  }

  &__menu {
    flex-grow: 1;
    justify-content: center;
  }

  &__logo {
    @include make-spacer(mr, 20px);

    width: rem(100px);

    @include media-breakpoint-up(sm) {
      width: rem(150px);
    }
  }

  &__banner {
    @include make-spacer(mx, auto);
    @include make-spacer(mr, 0, lg);

    flex-grow: 1;
    width: 100%;
    max-height: rem(56px);
    max-width: rem(516px);

    @include media-breakpoint-up(lg) {
      max-height: rem(85px);
      max-width: rem(780px);
    }
  }
}
