@use 'src/scss/config' as *;

.nav {
  @include make-spacer(py, 10px);

  position: relative;
  z-index: $z-index-1;
  background-color: var(--color-shark);

  &__logo,
  &__search,
  &__button {
    flex-shrink: 0;
  }

  &__container {
    @include make-spacer(pr, 40px);
    @include flex(space-between, center);
  }

  &__menu {
    flex-grow: 1;
    justify-content: center;
  }

  &__logo {
    @include make-spacer(mr, auto);

    width: rem(100px);

    @include media-breakpoint-up(sm) {
      width: rem(150px);
    }

    @include media-breakpoint-up(xl) {
      @include make-spacer(mr, 20px);
    }
  }

  &__button {
    @include flex(center, center);
    @include size(rem(40px));

    * {
      @include transition;
    }

    .fa {
      font-size: rem(20px);
    }
  
    .img {
      @include size(rem(22px));
  
      fill: var(--color-text);
    }
  
    &:hover {
      color: var(--color-primary);
  
      .img {
        fill: var(--color-primary);
      }
    }
  }
}
