mixin nav
  nav.nav&attributes(attributes)
    .container-fluid
      .container
        .nav__container
          +logo.nav__logo
          +menu.js-menu.nav__menu
          +search.js-search.nav__search
