@use 'src/scss/config' as *;

.switch {
  @include size(rem(35px), rem(20px));

  display: block;
  position: relative;

  &__input {
    @include size(100%);

    position: relative;
    z-index: $z-index-1;
    opacity: 0;
    cursor: pointer;

    &:checked + .switch {

      &__slide {
        background-color: var(--color-border);

        &::before {
          transform: translate(rem(15px), -50%);
          background-color: var(--color-white);
        }
      }
    }

    &:checked ~ .switch {

      &__icon {

        &--right {
          color: var(--color-text);
        }
      }
    }
  }

  &__slide {
    @include transition;
    @include size(100%, rem(15px));
    @include absolute-center;

    border-radius: rem(20px);
    background-color: var(--color-border);

    &::before {
      @include transition;
      @include size(rem(20px));
      @include absolute-center-left(0);

      border-radius: 50%;
      background-color: var(--color-shark);
      border: rem(2px) solid var(--color-border);
      content: '';
    }
  }
}
