@use 'src/scss/config' as *;

.switch {
  @include size(rem(52px), rem(28px));

  display: block;
  position: relative;
  border-radius: rem(30px);
  overflow: hidden;

  &__input {
    @include size(100%);

    position: relative;
    z-index: $z-index-1;
    opacity: 0;
    cursor: pointer;

    &:checked + .switch {

      &__slide {
        background-color: var(--color-border);

        &::before {
          transform: translate(rem(24px), -50%);
          background-color: var(--color-white);
        }
      }
    }

    &:checked ~ .switch {

      &__icon {

        &--right {
          color: var(--color-text);
        }
      }
    }
  }

  &__slide {
    @include transition;
    @include absolute-filled;

    background-color: var(--color-border);

    &::before {
      @include transition;
      @include size(rem(24px));
      @include absolute-center-left(rem(2px));

      border-radius: 50%;
      background-color: var(--color-shark);
      content: '';
    }
  }

  //&__icon {
  //  @include flex(center, center);
  //  @include size(rem(24px));
  //
  //  font-size: rem(19px);
  //
  //  &--left {
  //    @include absolute-center-left(rem(2px));
  //  }
  //
  //  &--right {
  //    @include absolute-center-right(rem(2px));
  //
  //    color: var(--color-background-alt);
  //  }
  //}
}
