@use 'src/scss/config' as *;

.widget-menu {
  @include make-spacer(pt, 10px);

  &--2,
  &--3 {

    .widget-menu {

      &__list {
        @include flex(null, center, null, wrap);
      }
    }
  }

  &--2 {

    .widget-menu {

      &__item {
        flex: 1 0 50%;
      }
    }
  }

  &--3 {

    .widget-menu {

      &__item {
        flex: 1 0 33%;
      }
    }
  }

  &__title {
    @include make-spacer(mb, 25px);

    font-size: rem(14px);
  }

  &__item {
    @include make-spacer(py, 8px);
  }

  &__link {
    display: block;
    font-size: rem(14px);
    opacity: 0.5;

    &:hover {
      transform: translateX(rem(10px));
      opacity: 1;
    }
  }
}
