@use 'src/scss/config' as *;

.post {
  position: relative;
  background-color: var(--color-shark);
  border-radius: var(--border-radius);
  overflow: hidden;

  &__meta,
  &__description {
    @include make-spacer(mt, 15px);
  }

  &__content {
    @include make-spacer(p, 20px);

    align-self: center;
    font-size: rem(14px);
  }

  &__category {
    @include make-spacer(py, 3px);
    @include make-spacer(px, 10px);

    display: block;
    position: absolute;
    top: rem(15px);
    left: rem(15px);
    z-index: $z-index-1;
    background-color: var(--color-primary);
    font-size: rem(12px);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-white);
    }
  }

  &__image {
    @include size(100%);

    border-radius: var(--border-radius);
    overflow: hidden;
  }

  &__title {
    line-height: 1.2;
    font-size: rem(20px);
  }

  &__meta {
    @include flex(null, center, null, wrap);

    column-gap: rem(15px);
  }

  &__item {
    @include flex(null, center);

    color: var(--color-comet);
    column-gap: rem(5px);
  }

  &__description {
    line-height: 2;
  }

  &__follow,
  &__footer {
    @include make-spacer(mt, 30px);
  }

  &__tags {
    @include flex(null, center, null, wrap);

    gap: rem(15px);
  }
}
