@use 'src/scss/config' as *;

.error-content {
  @include flex(center, center, column);
  @include make-spacer(py, 50px);
  @include make-spacer(py, 100px, sm);
  @include make-spacer(px, 15px);

  gap: rem(20px);
  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--color-shark);
  text-align: center;

  &__logo {
    width: rem(120px);

    @include media-breakpoint-up(sm) {
      width: rem(228px);
    }
  }

  &__title {
    @include make-spacer(mb, 0);

    line-height: 1;
    color: currentColor;
    font-size: rem(60px);
  }

  &__button {
    width: auto;
  }
}
