title= title

meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=Edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="theme-color" content="#fff")
meta(name="format-detection" content="telephone=no")
meta(name="description" content="Template")
meta(name="keywords" content="Keywords")
link(rel="canonical" href="https://site.com/")

link(rel="stylesheet" href="https://rawgit.com/wwilsman/Datepicker.js/master/dist/css/datepicker.material.css")
link(rel="stylesheet" href="./css/app.css")

script(src="https://code.jquery.com/jquery-3.7.1.min.js")
script(src="https://rawgit.com/wwilsman/Datepicker.js/master/dist/datepicker.js")
