include ../components/index
include ../sections/index
include ../partials/index

doctype html
html(lang="en")
  head
    include _head
  body(theme="light")
    block content
    +footer#footer
    +settings.js-settings
    +microphone-search.microphone--search.js-microphone.js-microphone-search
    +microphone-error.microphone--error.js-microphone.js-microphone-error
    script(src="./js/app.js")
