include ../components/index
include ../sections/index
include ../partials/index

doctype html
html(lang="en")
  head
    include _head
  body(theme="light")
    block content
    +footer#footer
    +settings.js-settings
    script(src="./js/app.js")
