@use 'src/scss/config' as *;

.nav-scope {
  position: relative;
  z-index: $z-index-10;

  &__list {
    @include flex(null, center);

    gap: rem(20px);
    list-style: none;
    font-family: var(--font-family-alt);
  }

  &__item {
    position: relative;

    &--main {
      color: var(--color-white);
    }

    &--alt {
      color: var(--color-text);
      border-top: rem(1px) solid var(--color-porcelain);
    }
  }

  &__link {
    opacity: 0.7;

    &:hover,
    &--active {
      color: var(--color-white);
      opacity: 1;
    }

    &--alt {
      @include transition(all);
      @include make-spacer(px, 20px);
      @include make-spacer(py, 10px);
  
      display: block;
      font-size: rem(14px);
      font-family: var(--font-family-alt);
      opacity: 0.9;
  
      &:hover {
        opacity: 1;
        color: var(--color-primary);
        transform: translateX(rem(10px));
      }
  
      &--active {
        opacity: 1;
        color: var(--color-primary);
      }
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    top: 100%;
    background-color: var(--color-shark);
    box-shadow: var(--box-shadow);
    width: rem(200px);

    &--active {
      display: block;
    }
  }
}
