@use 'src/scss/config' as *;

.cookie {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $z-index-13;

  &--active {
    display: block;
  }

  &__link,
  &__text {
    font-size: rem(13px);
  }

  &__column {
    @include make-spacer(pt, 15px);
    @include make-spacer(px, 15px);
    @include make-spacer(pb, 15px, md);

    position: relative;

    &:first-child {

      @include media-breakpoint-up(md) {

        &::after {
          position: absolute;
          top: rem(15px);
          bottom: rem(15px);
          right: 0;
          width: rem(1px);
          background-color: var(--color-border);
          content: '';
        }
      }
    }

    &:last-child {
      @include make-spacer(pb, 15px);
    }
  }

  &__wrapper {
    background-color: var(--color-shark);
    box-shadow: 0 rem(-2px) rem(5px) rgba(0, 0, 0, 0.075);
    border-radius:  var(--border-radius) var(--border-radius) 0 0;

    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr) 200px;
    }
  }

  &__options {
    @include make-spacer(mt, 10px);
    @include flex($align-items: center, $direction: column);

    gap: rem(10px);
  }

  &__logo {
    @include size(100%, rem(50px));

    max-width: rem(150px);
  }

  &__link {
    @include make-spacer(mx, 5px);

    color: var(--color-primary);
  }
}
