mixin post-small(id, category)
  article.post-small&attributes(attributes)
    if category
      a(href="./details.html").post-small__category.u-text-transform-uppercase Category
    a(href="./details.html").thumbnail.post-small__thumbnail
      img(src=`https://chtstudio.com/demo/news/images/post/sm${id}.jpg` loading="lazy").img.img--cover
    .post-small__content
      h2.post-small__title.u-mb-0.u-text-transform-capitalize
        a(href="./details.html") Shots in border dispute - BBC News
      ul.post-small__meta
        li.post-small__item
          i.far.fa-clock
          a(href="#") Feb 28, 2022
        li.post-small__item
          i.far.fa-eye
          a(href="#") 50k
        li.post-small__item
          i.far.fa-heart
          a(href="#") 270
