@use 'src/scss/config' as *;

.rss-news {
  @include make-spacer(p, 20px);
  @include make-spacer(p, 30px, lg);

  border-radius: var(--border-radius);
  overflow: hidden;
  background-color: var(--color-shark);
}
