mixin comment
  .comment&attributes(attributes)
    a(href="#").comment__picture
      img(src="https://chtstudio.com/demo/news/images/others/author1.png" loading="lazy").img
    .comment__content
      .comment__meta
        a(href="#").comment__author Michel Jawad
        p.comment__date 2 Minutes ago
      p.comment__text And he knows that it's not enough for just some of us to prosper. Not this time. Now is the time to end this addiction, and to understand that drilling is a stop-gap measure, not a long-term solution.
      a.comment__replay Replay
      .comment__form
        +contact-form-2.u-p-0
