.textarea {
  border: 1px solid var(--color-border);
  background-color: var(--color-content);
  padding: 10px;
  width: 100%;
  min-height: 50px;
  resize: vertical;

  &:focus {
    outline-color: var(--color-primary);
  }
}
