@use 'src/scss/config' as *;

.textarea {
  @include make-spacer(p, 20px);
  @include transition(all);

  border-radius: var(--border-radius);
  background-color: var(--color-cod-gray);
  border: rem(1px) solid var(--color-comet);
  resize: vertical;
  min-height: rem(120px);
  width: 100%;
  color: var(--color-text);

  &:focus {
    outline: 0;
    border-color: var(--color-primary);
    background-color: var(--color-mine-shaft);
  }
}
