mixin ticker
  marquee.ticker&attributes(attributes)
    .ticker__marquee
      .ticker__item
        a(href="#").ticker__text Remarkable Women - character design project
      .ticker__item
        a(href="#").ticker__text Remarkable Women - character design project
      .ticker__item
        a(href="#").ticker__text Adipisicing elit. Quia
