@use 'src/scss/config' as *;

.author {
  @include make-spacer(p, 15px);
  @include make-spacer(p, 20px, lg);

  display: block;
  border-radius: var(--border-radius);
  background-color: var(--color-shark);
  box-shadow: var(--box-shadow);

  &__wrapper {
    display: grid;
    grid-template-columns: rem(100px) 1fr;
    align-items: center;
    column-gap: rem(20px);
  }

  &__photo {
    @include size(rem(100px));

    border-radius: var(--border-radius);
    overflow: hidden;
  }

  &__title {
    font-size: rem(22px);

    @include media-breakpoint-up(lg) {
      font-size: rem(24px);
    }
  }

  &__meta {
    @include make-spacer(mt, 10px);
  }
}
