-
  var links = [
    {
      link: './user-overview.html',
      text: 'Overview'
    },
    {
      link: './user-data.html',
      text: 'User data'
    },
    {
      link: './user-subscription.html',
      text: 'Subscriptions'
    },
    {
      link: './user-newsletter.html',
      text: 'Newsletter'
    },
    {
      link: './user-events.html',
      text: 'Events'
    },
    {
      link: './user-magazines.html',
      text: 'Magazines'
    },
    {
      link: './user-bookmarks.html',
      text: 'Bookmarks'
    },
  ]

mixin header-tabs(active)
  .header-tabs.container-fluid&attributes(attributes)
    .header-tabs__wrapper.container
      each item, index in links
        a(href=item.link class=index === active && 'header-tabs__link--active').header-tabs__link= item.text
