@use 'src/scss/config' as *;

.header-tabs {
  border-top: rem(1px) solid var(--color-border);
  background-color: var(--color-shark);
  box-shadow: var(--box-shadow);
  overflow-x: auto;

  &__wrapper {
    @include flex;

    position: relative;
    height: rem(56px);

    @include media-breakpoint-up(md) {
      justify-content: center;
    }
  }

  &__link {
    @include make-spacer(px, 10px);
    @include flex(center, center);

    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: rem(14px);

    &--active {
      color: var(--color-primary);
    }
  }
}
