mixin banner(id, url)
  a(href="#").banner&attributes(attributes)
    if url
      img(src=url loading="lazy").img.img--cover
    else
      img(src=`https://chtstudio.com/demo/news/images/post/${id}.jpg` loading="lazy").img.img--cover
