@use 'src/scss/config' as *;

.post-medium {
  position: relative;
  background-color: var(--color-shark);
  border-radius: rem(4px);
  overflow: hidden;

  &--row {

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: rem(350px) 1fr;
    }

    .post-medium {

      &__thumbnail {

        @include media-breakpoint-up(sm) {
          min-height: rem(130px);
          height: 100%;
        }
      }
    }
  }

  &--column {

    .post-medium {

      &__thumbnail {

        @include media-breakpoint-up(sm) {
          min-height: rem(170px);
        }
      }
    }
  }

  &__meta,
  &__description {
    @include make-spacer(mt, 15px);
  }

  &__content {
    @include make-spacer(py, 10px);
    @include make-spacer(px, 15px);

    align-self: center;
    font-size: rem(14px);
  }

  &__category {
    @include make-spacer(py, 3px);
    @include make-spacer(px, 10px);

    display: block;
    position: absolute;
    top: rem(15px);
    left: rem(15px);
    background-color: var(--color-primary);
    font-size: rem(12px);
    z-index: $z-index-1;

    &:hover {
      background-color: var(--color-white);
    }
  }

  &__thumbnail {
    @include size(100%);

    display: block;
    overflow: hidden;

    img {
      @include transition(transform);
    }

    &:hover {

      img {
        transform: scale(1.2);
      }
    }
  }

  &__title {
    line-height: 1.2;
    color: var(--color-white);
    font-size: rem(20px);
  }

  &__meta {
    @include flex(null, center, null, wrap);

    column-gap: rem(15px);
  }

  &__item {
    @include flex(null, center);

    color: var(--color-comet);
    column-gap: rem(5px);
  }

  &__description {
    @include line-clamp(3);
  }
}
