mixin sign-in
  form(action="POST").sign-form&attributes(attributes)
    h1.sign-form__title.u-text-transform-capitalize User login
    .sign-form__wrapper
      .sign-form__block.sign-form__block--error
        label.sign-form__label.u-text-center Email
        input(type="email" placeholder="demo@gmail.com" required).field.sign-form__field
        p.sign-form__error.u-text-center Field is required
      .sign-form__block
        label.sign-form__label.u-text-center Password
        input(type="password" placeholder="***********" required).field.sign-form__field
        p.sign-form__error.u-text-center Field is required
      .sign-form__block
        +button('Login')(type="submit").button--primary
      .sign-form__block
        p.sign-form__text.u-text-center.u-mb-16 Don't have an account?
          a(href="./sign-up.html").sign-form__link Sign Up
        p.sign-form__text.u-text-center
          a(href="./sign-up.html").sign-form__link Forgot your password?
      .sign-form__block
        .sign-form__buttons
          a(href="#").sign-form__social.sign-form__social--facebook.u-mb-20
            i.fab.fa-facebook-f
            span login with facebook
          a(href="#").sign-form__social.sign-form__social--google
            i.fab.fa-google-plus-g
            span login with google plus

mixin sign-up
  form(action="POST").sign-form&attributes(attributes)
    h1.sign-form__title.u-text-transform-capitalize Create An Account
    .sign-form__wrapper
      .sign-form__block.sign-form__block--error
        label.sign-form__label.u-text-center First Name
        input(type="text" placeholder="First Name" required).field.sign-form__field
        p.sign-form__error.u-text-center Field is required
      .sign-form__block
        label.sign-form__label.u-text-center Last Name
        input(type="text" placeholder="Last Name" required).field.sign-form__field
        p.sign-form__error.u-text-center Field is required
      .sign-form__block
        label.sign-form__label.u-text-center Email
        input(type="email" placeholder="demo@gmail.com" required).field.sign-form__field
        p.sign-form__error.u-text-center Field is required
      .sign-form__block
        label.sign-form__label.u-text-center Password
        input(type="password" placeholder="***********" required).field.sign-form__field
        p.sign-form__error.u-text-center Field is required
      .sign-form__block
        +button('Login')(type="submit").button--primary
      .sign-form__block
        p.sign-form__text.u-text-center.u-mb-16 Already have an account?
          a(href="./sign-in.html").sign-form__link Login
        p.sign-form__text.u-text-center
          a(href="./sign-up.html").sign-form__link Forgot your password?
      .sign-form__block
        .sign-form__buttons
          a(href="#").sign-form__social.sign-form__social--facebook.u-mb-20
            i.fab.fa-facebook-f
            span login with facebook
          a(href="#").sign-form__social.sign-form__social--google
            i.fab.fa-google-plus-g
            span login with google plus
