@use 'src/scss/config' as *;

.footer {
  background-color: var(--color-shark);

  &__top {
    border-bottom: rem(1px) solid var(--color-porcelain);
  }

  &__middle {
    @include make-spacer(py, 50px);

    background-color: var(--color-shark);
  }

  &__bottom {
    @include make-spacer(py, 40px);

    position: relative;
    z-index: $z-index-12;
    background-color: #0d0d0d;
    color: var(--color-white);
  }
}
