@use 'src/scss/config' as *;

.toggle {
  @include size(rem(18px), rem(35px));

  &__item {
    @include transition(all);
    @include make-spacer(my, 4px);
    @include make-spacer(mx, auto);
    @include size(rem(18px), rem(2px));

    background-color: var(--color-white);
  }

  &--active {

    .toggle {

      &__item {

        &:nth-child(1) {
          transform: translateY(rem(6px)) rotateZ(45deg);
        }

        &:nth-child(2) {
          transform: translateX(-20%);
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(rem(-6px)) rotateZ(-45deg);
        }
      }
    }
  }
}
