@use 'src/scss/config' as *;

.toggle {
  @include size(rem(35px));

  border: rem(1px) solid var(--color-primary);
  border-radius: var(--border-radius);

  &__item {
    @include transition(all);
    @include make-spacer(my, 3px);
    @include make-spacer(mx, auto);
    @include size(rem(18px), rem(1px));

    background-color: var(--color-primary);
  }

  &--active {

    .toggle {

      &__item {

        &:nth-child(1) {
          transform: translateY(rem(4px)) rotateZ(45deg);
        }

        &:nth-child(2) {
          transform: translateX(-20%);
          opacity: 0;
        }

        &:nth-child(3) {
          transform: translateY(rem(-4px)) rotateZ(-45deg);
        }
      }
    }
  }
}
