-
  var editions = [
    {
      code: 'gb',
      text: 'English',
    },
    {
      code: 'ge',
      text: 'Georgia',
    },
    {
      code: 'ua',
      text: 'Ukraine'
    },
    {
      code: 'cu',
      text: 'Cuba',
    },
    {
      code: 'br',
      text: 'Brazil',
    },
    {
      code: 'hu',
      text: 'Hungary'
    },
  ]

mixin editions
  .editions.js-editions&attributes(attributes)
    .editions__select.js-editions-select
      p.js-editions-toggle English
      p editions
      i.fa.fa-angle-down
    ul.editions__list
      li.editions__item
        a.editions__link.editions__link--active.js-editions-item(data-editions="UK") UK
      each item in editions
        li.editions__item
          a.editions__link.js-editions-item(data-editions=item.code)= item.text
