@use 'src/scss/config' as *;

.top-news {
  @include absolute-center-top(rem(24px));

  display: none;
  width: rem(1750px);

  @media (min-width: rem(1750px)) {
    @include flex(space-between);
  }

  &__column {
    @include make-spacer(p, 2px);
    @include flex($direction: column);
    @include size(rem(160px), 100%);

    position: absolute;
    top: 0;
    height: 100vh;
    min-height: rem(320px);
    max-height: rem(675px);
    background-color: var(--color-shark);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}