mixin top-news
  .top-news&attributes(attributes)
    .top-news__column.top-news__column--left.js-top-news-column
      +banner('Banner #2')(style="max-height: 100%")

    .top-news__column.top-news__column--right.js-top-news-column
      +banner('Banner #2')(style="max-height: 100%")
