-
  var language = [
    'Arabic',
    'German',
    'Ukrainian',
  ]

mixin language
  .language.js-language&attributes(attributes)
    .language__select.js-language-select
      i.fa.fa-language.language__icon
      p.language__label Language
      p.language__toggle.js-language-toggle English
    ul.language__list
      li.language__item
        a.language__link.language__link--active.js-language-item(data-language="English") English
      each item in language
        li.language__item
          a.language__link.js-language-item(data-language=item)= item
