@use 'src/scss/config' as *;

.language {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-family: var(--font-family-alt);

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  &__link {
    @include flex($align-items: center);
    @include make-spacer(py, 10px);

    @include make-spacer(pl, 20px);
    @include make-spacer(px, 15px, xl);

    gap: rem(5px);
    font-size: rem(14px);
    text-align: center;

    &--active {
      color: var(--color-primary);
    }
  }

  &__icon {
    @include size(rem(25px));

    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 50%;

    .img {
      @include absolute-center;
      @include size(rem(40px));
    }
  }
}
