mixin language
  .language.js-language&attributes(attributes)
    .language__select.js-language-select
      p.u-color-white.js-language-toggle English
      i.fa.fa-angle-down.u-color-white
    ul.language__list
      li.language__item
        a.language__link.language__link--active.u-color-white.js-language-item(data-language="English") English
      li.language__item
        a.language__link.u-color-white.js-language-item(data-language="Arabic") Arabic
      li.language__item
        a.language__link.u-color-white.js-language-item(data-language="German") German
      li.language__item
        a.language__link.u-color-white.js-language-item(data-language="Ukrainian") Ukrainian
