@use 'src/scss/config' as *;

.language {
  position: relative;
  cursor: pointer;

  &__select {
    @include make-spacer(py, 10px);
    @include make-spacer(pr, 10px);
    @include make-spacer(px, 15px, lg);
    @include flex(space-between, center);

    gap: rem(5px);
    font-size: rem(14px);
    white-space: nowrap;

    * {
      @include transition;
    }
  }

  &__label {
    @include make-spacer(ml, 0);
    @include make-spacer(mr, auto)
  }

  &__toggle {
    color: var(--color-primary);
  }

  &__icon {
    font-size: rem(18px);
  }

  &__arrow {
    @include make-spacer(ml, auto);
  }

  &__list {
    display: none;
  }

  &__link {
    @include make-spacer(py, 10px);

    @include make-spacer(pl, 20px);
    @include make-spacer(px, 15px, lg);

    display: block;
    font-size: rem(14px);

    &--active {
      display: none;
    }
  }

  &--active {

    .language {

      &__list {
        display: block;
      }

      &__arrow {
        transform: rotateZ(180deg);
      }
    }
  }
}
