-
  var language = [
    {
      code: 'gb',
      text: 'English',
    },
    {
      code: 'ge',
      text: 'Georgie',
    },
    {
      code: 'ua',
      text: 'Ukrainian'
    },
    {
      code: 'gb',
      text: 'English',
    },
    {
      code: 'ge',
      text: 'Georgie',
    },
    {
      code: 'ua',
      text: 'Ukrainian'
    },
  ]

mixin language
  ul.language.js-language&attributes(attributes)
    each item in language
      li.language__item
        a.language__link.js-language-link
          span.language__icon
            img(src=`https://img.sportradar.com/ls/crest/big/${item.code}.png`).img.img--cover
          span.language__text= item.text
