@use 'src/scss/config' as *;

.rss {
  @include flex(null, null, column);

  gap: rem(8px);
  color: var(--color-comet);
  font-size: rem(14px);

  &__category {
    font-size: rem(12px);
    color: var(--color-primary);
  }

  &__title {
    @include line-clamp(1);

    font-size: rem(16px);
  }

  &__text {
    @include line-clamp(2);
  }
}
